.card-area-name {
  display: inline-block;
  font-size: 1.5em;
}

.card-region-name {
  display: inline-block;
  font-size: 0.7em;
  margin-left: 10px;
}

.data-col {
  display: inline-block;
  margin: 5px 10px;
}

.data-cell-header {
  font-weight: bold;
}

.card-body {
  margin: 10px;
}
